.btn-container{
    display: flex;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: var(--home-btn-shadow);
    background-color: var(--home-btn-cont-bg);
    z-index: 100;
}

.btn{
    margin: 0px;
    width: 6.5rem;
    border-radius: 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: transform 0.3s ease;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    background-color: var(--home-btn-bg);    
}

.btn img{
    width: 2rem;
}

.btn:hover{
    transform: scale(1.2);
}

.selected{
    box-shadow: var(--home-sel-shadow);
    color: var(--home-btn-color);
    background-color: var(--home-sel-bg);
    transform: scale(1.2);
    border-radius: 2rem;
}

.settings{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 160px;
    z-index: 1;
}

.settings button{
    width: fit-content;
}

.settings-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    overflow: hidden;
    padding: 0.5rem;
    background-color: var(--theme-bg-color);
    border: 1px solid var(--theme-border-color);
    box-shadow: 4px 4px 10px var(--theme-shadow2);
    transition: transform 0.7s ease;
    transform: translate(-150%, -13.5%);
}

.settings-container label{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: left;
}

.theme-sel{
    background-color: var(--theme-main-color);
}

.theme1{
    background-color: var(--theme1-main-color);
    color: var(--theme1-text-color)
}

.theme2{
    background-color: var(--theme2-main-color);
    color: var(--theme2-text-color)
}