.input-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-top: 1rem;
}

.scanner{
    position: absolute;
    top: 0px;
    background-color: var(--bg);
    width: 100%;
    max-width: 1126px;
}