.input-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-top: 1rem;
    height: 0px;
    overflow: hidden;
    transition: height 1s ease;
}

.height, .country{
    height: 25px;
}

.textarea-height {
    height: 75px;
}

.scanner{
    position: absolute;
    top: 0px;
    background-color: var(--scanner-bg);
    width: 100%;
    max-width: 1124px;
    overflow-y: hidden;
}

.hide {
    display: none !important;
}

.description-image-btn{
    grid-column: span 2;
    border: var(--desc-btn-border);
    background-color: var(--desc-btn-bg);
    color: var(--desc-btn-color);
    width: fit-content;
    margin: 0.5rem auto;
    padding: 0 1rem;
    border-radius: 1rem;
}