.main{
    background-color: var(--list-bg);
    border: var(--list-border);
    width: 80%;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 3px 2px var(--home-sel-bg);
}

.category{
    border-bottom: 4px double white;
    font-size: 1.5rem;
}

.amount{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5px;
}

.product-card{
    color: var(--p-info-text);
}

.flex{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    height: 2rem;
}

@media (max-width: 470px){
.flex * {
        font-size: 1rem;
    }
}


.filter{
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.filter >div > label > select{
    border: 1px solid transparent;
    background-color: transparent;
    color: black;
}

.filter>label>select>option{
    background-color: var(--f-option-bg);
}

.head{
    display: flex;
}

.btn{
    margin: 0.1rem;
    padding: 0px;
    height: 30px;
    border-radius: 1rem;
}