.product-info{
    width: fit-content;
    margin: auto;
    color: var(--p-info-text);
}

.product-info-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.product-name{
    display: flex;
    justify-content: space-between;
    color: var(--p-info-text);
    margin: 0;
    padding: 0 1rem;
    border-bottom: 1px solid;
    box-shadow: var(--shadow);
}

@media (max-width: 440px) {
    .product-name h2{font-size: 13px;}
}

.info-lines{
    display: flex;
    justify-content:space-between;
    border-bottom: var(--i-lines-border);
}

.info-lines p, .info-lines span {
    width: fit-content;
}

.img-container{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin: 1rem;
    @media (max-width: 430px) {
            width: 4rem;
            height: 4rem;    
        }
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

.filter{
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;
}

.filter > label > select{
    border: 1px solid transparent;
    background-color: transparent;
}

.filter>label>select>option{
    background-color: var(--f-option-bg);
}

.head{
    display: flex;
}