.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.822);
    padding: 1rem;
    border-radius: 1rem;
}

.country{
    position: absolute;
    bottom: 0rem;
    left: 1rem;
    z-index: 99999;

}