:root {

  --theme1-color: white;
  --theme1-bg-color: rgb(196, 0, 137);
  --theme1-main-color: rgb(241, 145, 138);
  --theme1-text-color: white;
  --theme1-text2-color: black;
  --theme1-border-color: white;
  --theme1-shadow1: rgb(255, 132, 224);
  --theme1-shadow2: rgb(196, 0, 137);
  --theme1-bg-image: url('/shop_list_bg1.png');

  --theme2-color: white;
  --theme2-bg-color: rgb(119, 44, 0);
  --theme2-main-color: rgb(196, 135, 66);
  --theme2-text-color: rgb(252, 247, 0);
  --theme2-text2-color: black;
  --theme2-border-color: rgb(255, 196, 0);
  --theme2-shadow1: rgb(255, 255, 255);
  --theme2-shadow2: rgb(255, 217, 0);
  --theme2-bg-image: url('/shop_list_bg2.png');


  --theme-color: var(--theme2-color);
  --theme-bg-color: var(--theme2-bg-color);
  --theme-main-color: var(--theme2-main-color);
  --theme-text-color: var(--theme2-text-color);
  --theme-text2-color: var(--theme2-text2-color);
  --theme-border-color: var(--theme2-border-color);
  --theme-shadow1: var(--theme2-shadow1);
  --theme-shadow2: var(--theme2-shadow2);
  --theme-bg-image: var(--theme2-bg-image);
  

  --text: var(--theme-text-color);
  --text-h: var(--theme-text2-color);
  --bg: var(--list-bg);
  --border: var(--theme-border-color);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
 

  /*home.module*/
  /*.btn*/
  --home-btn-color: var(--theme-text-color); 
  --home-btn-bg: transparent(61, 61, 61, 0.808);
  --home-btn-cont-bg: var(--theme-main-color);
  --home-btn-shadow: 0 3px 10px var(--theme-shadow2);

  /*.selected*/
  --home-sel-shadow: 0 3px 10px var(--theme-shadow-color);
  --home-sel-color: var(--theme-color);
  --home-sel-bg : var(--theme-bg-color);

  /*.btn: hover::after*/
  --home-after-shadow: 0 2px 6px 5px var(--theme-shadow2);
  --home-after-color: var(--theme-text-color);
  --home-after-bg: var(--theme-text2-color);
  
  /*countrySelect.module*/
  /*.res*/
  --cs-bg: var(--theme-bg-color);
  --cs-text-color: var(--theme-text2-color);
  --cs-border: 1px solid var(--theme-border-color);
  /*.res p:hover*/
  --cs-p-bg: var(--theme-bg-color);

  /*newAccount.module*/
  /*-----------------*/

  /*createNewProduct.module*/
  /*.description-image-btn*/
  --desc-btn-border: none;
  --desc-btn-bg: var(--theme-bg-color);
  --desc-btn-color: var(--theme-text-color);
  /*.scanner*/
  --scanner-bg: var(--theme-main-color);

  /*favorites.module*/
  /*.modal*/
  --fav-bg: var(--theme-bg-color);

  /*globalList.module*/
  /*.product-card*/
  --p-card-bg: var(--theme-main-color);
  --p-card-text: var(--theme-text2-color);

  /*.modal*/
  --modal-bg: var(--theme-bg-color);
  --modal-text: var(--theme-text-color);

  /*.description-modal*/
  --desc-modal-bg: var(--theme-main-color);

  /*.found*/
  --found-bg: var(--theme-main-color);

  /*myList.module*/
  /*.main*/
  --list-bg: var(--theme-main-color);
  --list-border: 0.5rem solid var(--theme-border-color);

  /*.filter>label>select>option*/
  --f-option-bg: var(--theme-text2-color);

  /*scannerRes.module*/
  /*.modal*/
  --scan-modal-bg: var(--theme-main-color);

  /*.product-card*/
  --scan-pcard-bg: var(--theme-bg-color);
  --scan-pcard-text: var(--theme-color);

  /*NotifBar*/
    --notif-bg: var(--theme-bg-color);
    --notif-text: var(--theme-text-color);
    --notif-border: 3px double var(--theme-border-color);
    --notif-shadow: 0 6px 20px 10px var(--theme-main-color);

  /*changeCountry.module*/
  /*.country*/
  --country-btn-bg: var(--theme-main-color);


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;



  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


#root {
  position: fixed;
  inset: 0;
  width: 1126px;
  max-width: 100%;
  min-width: 380px;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 1rem;
  background-image: var(--theme-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button{
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  min-width: 2rem;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  @media (max-width: 1024px) {
    font-size: 20px;
    
  }
}

h1, h2, h3{
  color: var(--home-sel-bg) !important;
}
p {
  margin: 0;
  width: 100%;
  
}

button{
  margin: 1rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--home-sel-bg);
  color: var(--theme-text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 3rem;
  margin: 1rem auto;
}

span button{
  margin: 5px;
}

.z-index{
  position: absolute;
  z-index: 99;
  background-color: #08060dd3;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  border-radius: 1rem;
  max-width: 1124px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.z-index::-webkit-scrollbar {
  display: none;
}

.fixed{
  position: fixed;
  top: -1rem;
  left: 0px;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: #08060dd3;
  color: white;
  padding: 0.4rem 1rem;
}


.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;  
}

.my-product-card {
  max-width: 600px;
  height: 4.6rem;
  margin: 0.5rem auto;
  border-bottom: 2px solid var(--home-sel-bg);
  padding: 0.5rem;
  box-sizing: border-box;
  transition: height 0.2s ease;
  overflow: hidden;
}

@media (max-width: 477px) {
  .my-product-card{
    font-size: 0.7rem
  }
}

.bought {
  order: 1;
  background-color: yellowgreen;
  color: black;
  border-radius: 0.5rem;
  border-color: transparent;
}

.notbought{
  order: 0;
  background-color: transparent;  
}

.hide{
  height: 0px;
  padding: 0px;
  margin: 0;
}

.fav-btn{
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
}

.fav-btn img{
  width: 2rem;
  @media (min-width: 440) {
    width: 3rem;
  }
}

.country-select{
  position: relative;
}