.res{
    background-color: var(--cs-bg);
    color: var(--cs-text-color);
    border: var(--cs-border);
    position: absolute;
    z-index: 999;
    padding: 0 5px;
}

.res p:hover {
    background-color: var(--cs-p-bg);
}

.input{
    width: 100%;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
}